@media(max-width: 400px){
    .OptionButton,.EndMenu{
        margin: 2px !important;
    }
}
.cell{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin: 1.5px;
    background-color: beige;
}
.cell:hover{
    width: 82px !important;
    height: 82px !important;
}
.row{
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 0;
}

#root,body,html{
    font-family: Montserrat;
    background-color:#6870e0;
    padding:0px;
    margin: 0px;
}
.GameOverText
,.MainTitle{
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-color:#1e212d ;
    margin:0px;
}
.GameOverText{
    padding: 20px;
    margin-bottom: 8px;
}
.scoreText,.leaderboard,.leaderBoardDiv,.EndMenu{
    margin-left: 8px;
}
.RandSDiv,.roundDiv{
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding: 8px;
    background-color:#1e212d ;
    margin-bottom:24px;
    font-size: x-large;
}
.RandSDiv{
    font-size: large;
}
.rulesDiv{
    padding: 8px;
}
.leaderboard{
    font-size:x-large;
    font-weight: 500;

}
.OptionButton,.EndMenu{
    text-align: center;
    color:#1e212d;
    border-radius: 8px;
    padding: 6px;
    border: 2px solid #1e212d;
    margin: 0px
}
.OptionButton:hover{
    color: #6870e0;
    background-color: #1e212d;
}
.EndMenu{
    width: 150px;
    height: fit-content;
}
.EndMenu:hover{
    color: #6870e0;
    background-color: #1e212d;
}

.OptionButtonList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:20px 0 0 0;
}
.theMainTitleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #1e212d;   
}